<span class="elastic-term">

  <select data-ng-model="rule.subType" class="form-control">

    <!-- Matching Options -->
    <optgroup label="Matching">
      <option value="match">Minimum Should Match (%)</option>
      <option value="match_phrase">Match Phrase (slop)</option>
      <!-- <option value="notMatch">! Match</option> -->
    </optgroup>

    <!-- Term Options -->
    <optgroup label="Text">
      <option value="equals">Equals</option>
      <!-- <option value="notEquals">! Equals</option> -->
    </optgroup>

    <!-- Generic Options -->
    <optgroup label="Generic">
      <option value="exists">Exists</option>
      <!-- <option value="notExists">! Exists</option> -->
    </optgroup>

  </select>
  <input
    data-ng-if="inputNeeded() && !isSelect() && !isNested() && !isObject()"
    class="form-control"
    data-ng-model="rule.value"
    type="text">


    <select data-ng-if="inputNeeded() && isSelect()" class="form-control select2" data-ng-model="rule.value">
        <option  data-ng-repeat="option in guide.options" value="{{option.value || option}}">{{option.name || option}}</option>
    </select>

    <select data-ng-if="inputNeeded() && isObject()" class="form-control select2" data-ng-model="rule.valueKey">
        <option  data-ng-repeat="option in guide.options" value="{{option[guide.fieldKey]}}">{{option[guide.fieldKey]}}</option>
    </select>

    <select data-ng-if="inputNeeded() && isNested()" ng-change="keyValueChanged(rule.valueKey)" class="form-control select2" data-ng-model="rule.valueKey">
        <option  data-ng-repeat="option in guide.options" value="{{option[guide.fieldKey]}}">{{option[guide.fieldKey]}}</option>
    </select>


    <select data-ng-disabled="!rule.valueKey" data-ng-if="inputNeeded() && isNested()" class="form-control select2" data-ng-model="rule.value">
        <option  data-ng-repeat="value in rule[guide.fieldValue]" value="{{value}}">{{value}}</option>
    </select>



    <input
    data-ng-if="inputPercentNeeded()"
    type="number" data-ng-model="rule.matchingPercent"
    class="form-control" placeholder="Seuil de matching...">

    <select
    data-ng-if="inputPercentNeeded()"
    data-ng-model="rule.operator"
    class="form-control select2">
    <option value="or">OR</option>
    <option value="and">AND</option>
    </select>

</span>
